@keyframes slide_border_forth {
    from {
        border-bottom-left-radius: 0;
    }
    to {
        border-bottom-left-radius: var(--info-block-border-radius);
    }
}

@keyframes slide_border_back {
    from {
        border-bottom-left-radius: 15rem;
    }
    to {
        border-bottom-left-radius: 8rem;
    }
}

.header_container {
    animation-name: slide_border_back;
    animation-duration: 2s;
    background-color: #3f37c9;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: var(--info-block-border-radius);
    border-bottom-right-radius: 2rem;
    animation-name: slide_border_forth;
    animation-duration: 1s;
    width: 100%;
    height: 18rem;
    background-color: #4361ee;
}

#laptop_image {
    background-image: url(../img/laptop.jpg);
    height: 12.3rem;
    width: 18.5rem;
}

#phone_image {
    background-image: url(../img/phone.jpg);
    height: 12.3rem;
    width: 18.5rem;
}

#gear_icon {
    height: 7rem;
    width: 9rem;
    background-image: url('../img/gear.png');
}

@media (max-width: 575.98px) {

    .header_container {
        border-bottom-right-radius: 0rem;
    }
    
    .header {
        border-bottom-right-radius: 0rem;
    }

}

@media (max-width: 767.98px) { 

    #laptop_image {
        height: 10rem;
        width: 15rem;
    }
    
    #phone_image {
        height: 10rem;
        width: 15rem;
    }

}